/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
  margin: 0 auto;
  background-color: #1A1A1A;
  font-family: Inconsolata;
  font-color: #FFDEDE;
}
a {
  color: inherit;
  text-decoration: none;
}
h1 {
  color:#1A1A1A;
  background-color: white;
}
article {
  color: white;
}
div {
  background-color: white;
  font-color: #1A1A1A;
  display: inline-block;
  background-position: center;
}
.left {
  float: left;
  width: 175px;
  margin: 15px 0 15px 20px;
}
.right {
  float: right;
  width: 175px;
  text-align: right;
  margin: 15px 20px 15px 0;
}
.middle {
  background-color: white;
  font-color: white;
  border: 3px solid black;
  border-bottom: 10px solid black;
  margin-left: 200px;
  margin-right: 200px;
  max-width: 300px;
  margin: 15px 200px 15px 0;
}
